body {
    background-color: #000;
}

.btn-default {
    background-color: #0f0f0f;
    border-color: #000;
}

.btn-default:hover {
    background-color: #88b835;
}

.modal-content {
    background-color: #0f0f0f;
}
